.board {
    display: inline-flex;
    gap: 16px;
    padding: 16px;
    border-radius: 12px;
    background-color: var(--keyboard-background);

    @media (max-width: 850px) {
        flex-direction: column;
        position: fixed;
        bottom: 8px;
    }

    .row1, .row2 {
        display: inline-flex;
        gap: 16px;
    }

    button {
        width: 48px;
        height: 48px;
        font-size: var(--grid-font-size);
        border: none;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-radius: 12px;
        cursor: pointer;
        background-color: var(--grid-background);
        color: var(--grid-color);
        transition: all 150ms ease-out;

        &:hover {
            background-color: var(--grid-background-highlighted);
        }

        &:active {
            transform: scale3d(0.9, 0.9, 0.9);
        }
    }
}