.grid {
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--grid-background);
    color: var(--grid-color);

    transition: all 200ms ease-in-out;
}

.grid:hover, .highlighted {
    background-color: var(--grid-background-highlighted);
}

.selected, .selected:hover {
    color: var(--grid-color-selected);
    background-color: var(--grid-background-selected);
    transform: scale3d(1.5, 1.5, 1.5);
    box-shadow: 0 0 24px 4px hsla(266, 100%, 32%, 0.2);
    transition: all 150ms ease-out;
}

.prefilled, .prefilled:hover {
    background-color: var(--grid-background-prefilled);
    color: var(--grid-color);
}


.error, .error:hover {
    background-color: var(--grid-background-error);
    color: var(--grid-color-error);
}

.prefilled.error {
    transform: scale3d(0.8, 0.8, 0.8);
}

.prefilled.selected {
    transform: scale3d(1.2, 1.2, 1.2);
}

.solved {
    background-color: var(--grid-background-solved);
}