.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left, .right {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 144px;
}

.left {
    left: 48px;
}

.right {
    right: 144px;
    gap: 16px;
}