:root, html, body {
  margin: 0;
  font-family: 'Odibee Sans', system-ui;
  background-color: var(--background);
}

// default theme
.dark {
  --background: #240054;
  --grid-background: hsl(266, 100%, 52%);
  --grid-background-highlighted: hsl(266, 100%, 62%);
  --grid-background-selected: hsl(267, 100%, 72%);
  --grid-color: #E8D6FF;
  --grid-color-selected: #740aff;
  --grid-background-error: #E50000;
  --grid-background-prefilled: hsl(266, 100%, 32%);
  --grid-background-solved: hsl(188, 87%, 32%);
  --grid-color-error: #FFFFFF;
  --keyboard-background: #3A0085;
  --clock-color: #9747FF;
  --text-button-background: #9747FF;
  --text-button-color: #F4F4F4;
}

.light {
  --background: #EDEDED;
  --grid-background: hsl(0, 0%, 100%);
  --grid-background-highlighted: hsl(266, 100%, 90%);
  --grid-background-selected: hsl(267, 100%, 75%);
  --grid-color: #4700A3;
  --grid-color-selected: hsl(267, 100%, 22%);
  --grid-background-error: #FB8383;
  --grid-background-prefilled: hsl(0, 0%, 85%);
  --grid-background-solved: hsl(188, 87%, 82%);
  --grid-color-error: #A30000;
  --keyboard-background: #F5F5F5;
  --clock-color: #8F8F8F;
  --text-button-background: #FFFFFF;
  --text-button-color: #000000;
}

button {
  font-family: 'Odibee Sans', system-ui;
}